{% extends "portal_beneficiario/templates/pb_base.html" %}

{% block wizard %}
<section class="signup-step-container col-10 pl-5 pt-5 right">
        <div class="row">
            <div class="col-12">
                <div class="wizard">
                    <div class="wizard-inner mb-5">
                        <div class="connecting-line"></div>
                        <ul class="nav nav-tabs" role="tablist">
                            {% if beneficiary_data.enable == 1%}
                                {% if beneficiary_data.data_declaration == false and  beneficiary_data.authorization_declaration == false%}
                                <li role="presentation" class="active ml-5">
                                    <a id="term_and_codition_btn" href="#step1" data-toggle="tab" aria-controls="step1" role="tab" aria-expanded="true"><span class="round-tab">Autorización</span></a>
                                </li>
                                <li role="presentation" class="disabled ml-5">
                                    <a id="basic_btn" href="#step2" data-toggle="tab" aria-controls="step2" role="tab" aria-expanded="false" hidden><span class="round-tab">Datos Basicos</span></a>
                                </li>
                                {% else %}
                                <li role="presentation" class="active ml-5">
                                    <a id="basic_btn" href="#step2" data-toggle="tab" aria-controls="step2" role="tab" aria-expanded="false"><span class="round-tab">Datos Basicos</span></a>
                                </li>
                                {% endif %}
                            {% endif %}
                            {% if beneficiary_data.jumio_status != "PROCESSED"%}
                                <li role="presentation" class="disabled ml-5 ">
                                    <a id="verify_btn" href="#step3" data-toggle="tab" aria-controls="step3" role="tab" aria-expanded="false" {% if beneficiary_data.enable == 1%}hidden{% endif %}><span class="round-tab">Verificación</span></a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                    <div id="messageBox" class="{% if beneficiary_data.enable == 1%}hidden{% endif %}">{% if beneficiary_data.enable == 0%}Su solicitud se encuentra en estado {{beneficiary_data.jumio_status}}. Debe esperar que sea procesada.{% endif %}</div>
                    <form id="pb_form" role="form" class="login-box mt-5">
                        <input id="name" name="name" type="hidden" value="{{beneficiary_data.name}}">
                        <input id="email" name="email" type="hidden" value="{{beneficiary_data.email}}">
                        <div class="tab-content" id="main_form">
                            {% if beneficiary_data.enable == 1%}
                                {% if beneficiary_data.data_declaration == false and  beneficiary_data.authorization_declaration == false%}
                                <div class="tab-pane active" role="tabpanel" id="step1">
                                    {% block term_and_conditions %}
                                    {% endblock %}
                                    <ul class="list-inline">
                                        <li><button id="acept_term" type="button" class="btn btn-dark btn-lg mt-5 ml-3 next-step" disabled>Siguiente</button></li>
                                    </ul>
                                </div>
                                <div class="tab-pane" role="tabpanel" id="step2">
                                {% else %}
                                <div class="tab-pane active" role="tabpanel" id="step2">
                                {% endif %}
                                    {% block basic_data %}
                                    {% endblock %}
                                    <ul class="list-inline">
                                        {% if beneficiary_data.jumio_status != "PROCESSED"%}
                                            <li><button id="save_beneficiary" type="button" class="btn btn-dark btn-lg mt-5 ml-3 next-step" disabled>Siguiente</button></li>
                                        {% else %}
                                            <li><button id="save_beneficiary" type="button" class="btn btn-dark btn-lg mt-5 ml-3 next-step" disabled>Actualizar</button></li>
                                        {% endif %}
                                    
                                        </ul>
                                </div>
                            {% endif %}
                            {% if beneficiary_data.jumio_status != "PROCESSED"%}
                                <div class="tab-pane {% if beneficiary_data.enable == 0%}active{% endif %}" role="tabpanel" id="step3">
                                    {% block verificacion %}
                                    {% endblock %}
                                    <ul class="list-inline">
                                        <li><button id="back" type="button" class="btn btn-dark btn-lg mt-5 ml-3 prev-step" disabled>Atras</button></li>
                                        <li><button id="finish" type="button" class="btn btn-dark btn-lg mt-5 ml-3 next-step" disabled>Finalizar</button></li>
                                    </ul>
                                </div>
                            {% endif %}
                            <div class="clearfix"></div>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
</section>
{% endblock %}