{% extends "portal_beneficiario/templates/pb_base.html" %}

{% block wizard %}
<section class="signup-step-container col-10 pl-5 pt-5 right">
        <div class="row">
            <div class="col-12">
                <div class="wizard">
                    <div class="wizard-inner mb-5">
                        <div class="connecting-line"></div>
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" aria-expanded="true"><span class="round-tab">Datos Basicos</span></a>
                            </li>
                            <li role="presentation" class="disabled ml-5">
                                <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" aria-expanded="false"><span class="round-tab">Verificación</span></a>
                            </li>
                        </ul>
                    </div>
    
                    <form role="form" action="index.html" class="login-box mt-5">
                        <div class="tab-content" id="main_form">
                            <div class="tab-pane active" role="tabpanel" id="step1">
                                {% block basic_data %}
                                {% endblock %}
                                <ul class="list-inline">
                                    <li><button type="button" class="btn btn-dark btn-lg mt-5 ml-3 next-step">Siguiente</button></li>
                                </ul>
                            </div>
                            <div class="tab-pane" role="tabpanel" id="step2">
                                {% block verificacion %}
                                {% endblock %}
                                <ul class="list-inline">
                                    <li><button type="button" class="btn btn-dark btn-lg mt-5 ml-3 prev-step">Atras</button></li>
                                    <li><button type="submit" class="btn btn-dark btn-lg mt-5 ml-3 next-step">Finalizar</button></li>
                                </ul>
                            </div>
                            
                            
                            <div class="clearfix"></div>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
</section>
{% endblock %}