
{% extends "portal_beneficiario/templates/pages/home/wizard.html" %}

{% block basic_data%}
        <div id='basic_data_sect' class="right_menu">
            <div class="form-row right_menu mt-3">
                <div class="col-4">
                    <label for="phone" class="form-label">Telefono</label>
                    <input type="text" class="form-control" id="phone" name="phone" />
                </div>
                <div class="col-4">
                    <label for="nationality" class="form-label">Nacionalidad</label>
                    <select id="nationality" name="nationality" class="form-control">
                        <option selected></option>
                        {% set na = frappe.get_all('qp_PO_Nationality', fields=['na_name', 'na_code'], order_by='na_code asc') %}
                        {% for n in na %}
                            <option value="{{ n.na_code }}">{{ n.na_name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-row right_menu mt-3">
                <div class="col-4">
                    <label for="address" class="form-label">Dirección</label>
                    <input type="input" class="form-control" id="address" name="address"/>
                </div>
                <div class="col-4">
                    <label for="city" class="form-label">Ciudad</label>
                    <select id="city" class="form-control" name="city">
                        <option selected></option>
                        {% set ci = frappe.get_all('qp_PO_City', fields=['ci_name', 'ci_code'], order_by='ci_code asc') %}
                        {% for c in ci %}
                            <option value="{{ c.ci_code }}">{{ c.ci_name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-row right_menu mt-3">
                <div class="col-4">
                    <label for="business" class="form-label">Actividad Economica</label>
                    <select id="business" name="business" class="form-control">
                        <option selected></option>
                        {% set ea = frappe.get_all('qp_PO_EconomicActivity', fields=['ea_name', 'ea_code'], order_by='ea_code asc') %}
                        {% for e in ea %}
                            <option value="{{ e.ea_code }}">{{ e.ea_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-4">
                    <label for="business_type" class="form-label">Actividad Laboral</label>
                    <select id="business_type"  name="business_type"  class="form-control">
                        <option selected></option>
                        {% set ba = frappe.get_all('qp_PO_BusinessActivity', fields=['ba_name', 'ba_code'], order_by='ba_code asc') %}
                        {% for b in ba %}
                            <option value="{{ b.ba_code }}">{{ b.ba_name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-row right_menu mt-5">
                <div class="col-8">
                    <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="pep" >
                    <label class="form-check-label" for="pep">Persona Públicamente Expuesta</label>
                    </div>
                </div>
            </div>
            <div class="form-row right_menu mt-3 pep_fields" hidden>
                <div class="col-3">
                    <label for="position" class="form-label">Cargo</label>
                    <select id="position" class="form-control rq_cond">
                        <option selected></option>
                        {% set po = frappe.get_all('qp_PO_Positions', fields=['po_name', 'po_code'], order_by='po_code asc') %}
                        {% for p in po %}
                            <option value="{{ p.po_code }}">{{ p.po_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-2">
                    <label for="link_date" class="form-label">Fecha de Vinculación</label>
                    <input type="text" class="form-control rq_cond" id="link_date">
                </div>
                <div class="col-3">
                    <label for="business_type_pep" class="form-label">Actividad Laboral</label>
                    <select id="business_type_pep" class="form-control">
                        <option selected></option>
                        {% set ba = frappe.get_all('qp_PO_BusinessActivity', fields=['ba_name', 'ba_code'], order_by='ba_code asc') %}
                        {% for b in ba %}
                            <option value="{{ b.ba_code }}">{{ b.ba_name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-row right_menu mt-5">
                <div class="col-8">
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="fpep" >
                        <label class="form-check-label" for="fpep">Familiar Politicamente Expuesto</label>
                    </div>
                </div>
            </div>
            <div class="form-row right_menu mt-3 fpep_fields" hidden>
                <div class="col-4">
                    <label for="fpep_name" class="form-label">Nombre</label>
                    <input type="text" class="form-control rq_cond" id="fpep_name">
                </div>
                <div class="col-4">
                    <label for="parent_type" class="form-label">Tipo de Parentesco</label>
                    <select id="parent_type" class="form-control rq_cond">
                        <option selected></option>
                        {% set pt = frappe.get_all('qp_PO_ParentType', fields=['pt_name', 'pt_code'], order_by='pt_code asc') %}
                        {% for p in pt %}
                            <option value="{{ p.pt_code }}">{{ p.pt_name }}</option>
                        {% endfor %}
                    </select>
                </div>
               
            </div>
            <div class="form-row right_menu mt-3">
                <div class="col-2">
                    <label for="in" class="form-label">Ingresos</label>
                    <input type="number" class="form-control" id="in" name="in" >
                </div>
                <div class="col-2">
                    <label for="out" class="form-label">Egresos</label>
                    <input type="number" class="form-control" id="out" name="out">
                </div>
                <div class="col-2">
                    <label for="assets" class="form-label">Activos</label>
                    <input type="number" class="form-control" id="assets" name="assets">
                </div>
                <div class="col-2">
                    <label for="passive" class="form-label">Pasivos</label>
                    <input type="number" class="form-control" id="passive" name="passive">
                </div>
            </div>
            <div class="form-row right_menu mt-3">
                <div class="col-4">
                    <label for="source_fund" class="form-label">Origen de los dinero a recibir</label>
                    <select id="source_fund" name="source_fund" class="form-control">
                        <option selected></option>
                        {% set sf = frappe.get_all('qp_PO_SourceFund', fields=['sf_name', 'sf_code'], order_by='sf_code asc') %}
                        {% for s in sf %}
                            <option value="{{ s.sf_code }}">{{ s.sf_name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
{% endblock %}


{% block verificacion%}
    <div id='basic_data_sect' class="right_menu">
        <div class="form-row right_menu mt-3">
            <div class="col-8">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
{% endblock %}