{% extends "portal_beneficiario/templates/pb_base.html" %}

{% block form%}
    <div id='basic_data_sect' class="right_menu">
        <div class="row right_menu mt-3">
            <div class="col-4">
                <label for="phone" class="form-label">Telefono</label>
                <input type="text" class="form-control" id="phone">
            </div>
            <div class="col-4">
                <label for="nationality" class="form-label">Nacionalidad</label>
                <select id="nationality" class="form-control">
                    <option selected></option>
                    {% set na = frappe.get_all('qp_PO_Nationality', fields=['na_name', 'na_code'], order_by='na_code asc') %}
                    {% for n in na %}
                        <option value="{{ n.na_code }}">{{ n.na_name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row right_menu mt-3">
            <div class="col-4">
                <label for="address" class="form-label">Dirección</label>
                <input type="text_area" class="form-control" id="address">
            </div>
            <div class="col-4">
                <label for="city" class="form-label">Ciudad</label>
                <select id="city" class="form-control">
                    <option selected></option>
                    {% set ci = frappe.get_all('qp_PO_City', fields=['ci_name', 'ci_code'], order_by='ci_code asc') %}
                    {% for c in ci %}
                        <option value="{{ c.ci_code }}">{{ c.ci_name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row right_menu mt-3">
            <div class="col-4">
                <label for="business" class="form-label">Actividad Economica</label>
                <select id="business" class="form-control">
                    <option selected></option>
                    {% set ea = frappe.get_all('qp_PO_EconomicActivity', fields=['ea_name', 'ea_code'], order_by='ea_code asc') %}
                    {% for e in ea %}
                        <option value="{{ e.ea_code }}">{{ e.ea_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-4">
                <label for="business_type" class="form-label">Actividad Laboral</label>
                <select id="business_type" class="form-control">
                    <option selected></option>
                    {% set ba = frappe.get_all('qp_PO_BusinessActivity', fields=['ba_name', 'ba_code'], order_by='ba_code asc') %}
                    {% for b in ba %}
                        <option value="{{ b.ba_code }}">{{ b.ba_name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row right_menu mt-5">
            <div class="col-8">
                <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="pep">
                <label class="form-check-label" for="pep">Persona Públicamente Expuesta</label>
                </div>
            </div>
        </div>
        <div class="row right_menu mt-3 pep_fields" hidden>
            <div class="col-2">
                <label for="job" class="form-label">Cargo</label>
                <input type="text" class="form-control" id="job">
            </div>
            <div class="col-2">
                <label for="link_date" class="form-label">Fecha de Vinculación</label>
                <input type="text" class="form-control" id="link_date">
            </div>
            <div class="col-2">
                <label for="business_type" class="form-label">Actividad Laboral</label>
                <select id="business_type" class="form-control">
                    <option selected></option>
                    {% set ba = frappe.get_all('qp_PO_BusinessActivity', fields=['ba_name', 'ba_code'], order_by='ba_code asc') %}
                    {% for b in ba %}
                        <option value="{{ b.ba_code }}">{{ b.ba_name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row right_menu mt-5">
            <div class="col-8">
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="fpep">
                    <label class="form-check-label" for="fpep">Familiar Politicamente Expuesto</label>
                </div>
            </div>
        </div>
        <div class="row right_menu mt-3 fpep_fields" hidden>
            <div class="col-2">
                <label for="fpep_name" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="fpep_name">
            </div>
            <div class="col-2">
                <label for="parent_type" class="form-label">Tipo de Parentesco</label>
                <input type="text" class="form-control" id="parent_type">
            </div>
            <div class="col-2">
                <label for="in" class="form-label">Ingresos</label>
                <input type="text" class="form-control" id="in">
            </div>
        </div>
        <div class="row right_menu mt-3 fpep_fields" hidden>
            <div class="col-2">
                <label for="out" class="form-label">Egresos</label>
                <input type="text" class="form-control" id="out">
            </div>
            <div class="col-2">
                <label for="assets" class="form-label">Activos</label>
                <input type="text" class="form-control" id="assets">
            </div>
            <div class="col-2">
                <label for="passive" class="form-label">Pasivos</label>
                <input type="text" class="form-control" id="passive">
            </div>
        </div>
        <button type="button" class="btn btn-dark btn-lg mt-5 ml-3">Siguiente</button>
    </div>
{% endblock %}