
{% extends "portal_beneficiario/templates/pages/home/wizard.html" %}

{% if beneficiary_data.data_declaration == false and  beneficiary_data.authorization_declaration == false%}
    {% block term_and_conditions%}
        <div id='term_and_conditions_sect' class="right_menu">
            <div class="form-row right_menu mt-3">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Términos y Condiciones</h5>
                                <p class="card-text text-justify">Al acceder y utilizar nuestros servicios, acepta que está sujeto <a href="files/2024.08. AUTORIZACIONES Y DECLARACIONES ESPECIALES.pdf" target="_blank" style="text-decoration: underline;">las políticas, autorizaciones, términos y condiciones de StoneX</a>, y todas las leyes aplicables regirán y se interpretarán de conformidad con el ordenamiento jurídico Colombiano.</p>
                                <div class="form-check">
                                        <label class="form-check-label" for="term_conditions">Acepto</label>
                                        <input type="checkbox" class="form-check-input ml-3" id="term_conditions" name="term_conditions" value="1" {% if beneficiary_data.data_declaration == true and  beneficiary_data.data_declaration == true %} checked {% endif %}/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
{% endif %}

{% block basic_data%}
        <div id='basic_data_sect' class="right_menu">
            
            <div id="container_personal" class="section-header"><span class="bold-section-header">Datos Personales</span>
                <hr class="separator-id" />
                
                <div class="form-row right_menu mt-3">
                    <div class="col-md-3">
                        <label for="address" class="form-label">* Dirección Residencia</label>
                        <input type="input" class="form-control" id="address" name="address" value="{% if beneficiary_data.address %}{{ beneficiary_data.address.upper() }}{%endif%}" maxlength="150"/>
                    </div>
                    <div class="col-md-3">
                        <label for="country" class="form-label">* País</label>
                        <select id="country" class="form-control" name="country">
                            <option></option>
                            {% set co = frappe.get_all('qp_PO_Country', fields=['co_name', 'co_code'], order_by='co_code asc') %}
                            {% for c in co %}
                                <option value="{{ c.co_code }}" {% if c.co_code == beneficiary_data.country %} selected {% endif %}>{{ c.co_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="city" class="form-label">* Ciudad</label>
                        <select id="city" class="form-control" name="city">
                            <option></option>
                            {% set ci = frappe.get_all('qp_PO_City', fields=['ci_name', 'ci_code', 'ci_country'], order_by='ci_code asc') %}
                                {% for c in ci %}
                                    <option value="{{ c.ci_code }}" {% if c.ci_code == beneficiary_data.city %} selected {% endif %}>{{ c.ci_name }}</option>
                                {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-row right_menu mt-3">
                    <div class="col-md-3">
                        <label for="phone" class="form-label">* Celular</label>
                        <input type="tel" maxlength="20" class="form-control" id="phone" name="phone" value="{% if beneficiary_data.phone %}{{ beneficiary_data.phone }}{%endif%}"/>
                    </div>
                    <div class="col-md-3">
                        <label for="nationality" class="form-label">* Nacionalidad</label>
                        <select id="nationality" name="nationality" class="form-control">
                            
                            {% set na = frappe.get_all('qp_PO_Nationality', fields=['na_name', 'na_code'], order_by='na_code asc') %}
                            <option></option>
                            {% for n in na %}
                                <option value="{{ n.na_code }}" {% if n.na_code == beneficiary_data.nationality %} selected {% endif %} >{{ n.na_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>          
                <div class="form-row right_menu mt-3">
                    <div class="col-md-3">
                        <label for="business_type" class="form-label">* Actividad Laboral</label>
                        <select id="business_type" name="business_type"  class="form-control">
                            <option></option>
                            {% set ba = frappe.get_all('qp_PO_BusinessActivity', fields=['ba_name', 'ba_code'], order_by='ba_code asc') %}
                            {% for b in ba %}
                                <option value="{{ b.ba_code }}" {% if b.ba_code == beneficiary_data.business_activity %} selected {% endif %}>{{ b.ba_name.upper() }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-row right_menu mt-3 activity_fields" {% if beneficiary_data.business_activity != "913610001" %} hidden {% endif %}>
                    <div class="col-md-3 business_field">
                        <label for="business" class="form-label">* Actividad Económica</label>
                        <select id="business" name="business" class="form-control">
                            <option></option>
                            {% set ea = frappe.get_all('qp_PO_EconomicActivity', fields=['ea_name', 'ea_code'], order_by='ea_code asc') %}
                            {% for e in ea %}
                                <option value="{{ e.ea_code }}" {% if e.ea_code == beneficiary_data.economic_activity %} selected {% endif %}>{{e.ea_code}} - {{ e.ea_name.upper() }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label for="fileToUpload" class="form-label" data-toggle="tooltip" data-placement="bottom" title="Adjunte alguno de los siguientes soportes financieros según le aplique: Declaración de renta, certificado de ingresos o estados financieros certificados por contador público.">* Adjuntar soporte financiero</label>
                        <input type="file" class="form-control" id="fileToUpload" name="fileToUpload" accept=".pdf,image/*"/>
                    </div>
                </div>
            </div>

            <div id="container_pep" class="section-header"><span class="bold-section-header">Información PEP</span>
                <hr class="separator-id" />
                <div class="form-row right_menu mt-3">
                    <div class="col-md-8">
                        <div class="form-group form-check">
                        <div class="form-check form-check-inline">
                            <label class="form-check-label" for="pepSi" data-toggle="tooltip" data-placement="bottom" title="Es una persona que desempeña o ha desempeñado funciones públicas a nivel nacional o en el extranjero o ejerce funciones directivas en una Organización Internacional.">¿Es usted una Persona Expuesta Políticamente (PEP)? Si</label>
                            <input class="form-check-input ml-2" type="radio" name="pep" id="pepSi" value="1" {% if beneficiary_data.peps %} checked {% endif%}>
                        </div>
                        <div class="form-check form-check-inline">
                            <label class="form-check-label" for="pepNo">No</label>
                            <input class="form-check-input ml-2" type="radio" name="pep" id="pepNo" value="0" {% if not beneficiary_data.peps %} checked {% endif%}>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="form-row right_menu mt-3 ml-5 pep_fields" {% if not beneficiary_data.peps %} hidden {% endif%}>
                    <div class="col-md-2">
                        <label for="pep_position" class="form-label">* Cargo</label>
                        <input type="text" class="form-control" id="pep_position" name="pep_position" value="{% if beneficiary_data.position %}{{ beneficiary_data.position }}{%endif%}" maxlength="200">
                    </div>
                    <div class="col-md-3">
                        <label for="link_date" class="form-label">* Fecha de Vinculación</label>
                        <input type="text" class="form-control rq_cond" id="link_date" name="link_date" value="{% if beneficiary_data.link_date %}{{ frappe.format( beneficiary_data.link_date , {'fieldtype': 'Date'}) }}{% endif %}">
                    </div>
                    <div class="col-md-3">
                        <label for="link_undate" class="form-label">Fecha de Desvinculación</label>
                        <input type="text" class="form-control rq_cond" id="link_undate" name="link_undate" value="{% if beneficiary_data.link_undate %}{{ frappe.format( beneficiary_data.link_undate , {'fieldtype': 'Date'}) }}{% endif %}">
                    </div>
                </div>
                <div class="form-row right_menu">
                    <div class="col-md-8">
                        <div class="form-group form-check mt-3">
                            <div class="form-check form-check-inline">
                                <label class="form-check-label" for="fpepSi" data-toggle="tooltip" data-placement="bottom" title="(i) Personas con las que tengan sociedad conyugal, de hecho, o de derecho; (ii) Familiares hasta segundo grado de consanguinidad, primero afinidad y primero civil.">¿Posee vinculos familiares con una Persona Expuesta Políticamente?   Si</label>
                                <input class="form-check-input ml-2" type="radio" name="fpep" id="fpepSi" value="1" {% if beneficiary_data.peps_parent %} checked {% endif%}>
                            </div>
                            <div class="form-check form-check-inline">
                                <label class="form-check-label" for="fpepNo">No</label>
                                <input class="form-check-input ml-2" type="radio" name="fpep" id="fpepNo" value="0" {% if not beneficiary_data.peps_parent %} checked {% endif%}>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row right_menu mt-3 fpep_fields" {% if not beneficiary_data.peps_parent %} hidden {% endif%}>
                    <div class="col-md-4">
                        <label for="fpep_name" class="form-label">* Nombre del Familiar</label>
                        <input type="text" class="form-control rq_cond" id="fpep_name" name="fpep_name" value="{% if beneficiary_data.parent_name %}{{beneficiary_data.parent_name}}{%endif%}">
                    </div>
                    <div class="col-md-4">
                        <label for="parent_type" class="form-label">* Tipo de Parentesco</label>
                        <select id="parent_type" name="parent_type" class="form-control rq_cond">
                            <option selected></option>
                            {% set pt = frappe.get_all('qp_PO_ParentType', fields=['pt_name', 'pt_code'], order_by='pt_code asc') %}
                            {% for p in pt %}
                                <option value="{{ p.pt_code }}" {% if p.pt_code == beneficiary_data.parent_type %} selected {% endif %}>{{ p.pt_name.upper() }}</option>
                            {% endfor %}
                        </select>
                    </div>           
                </div>
            </div>

            <div id="container_finance" class="section-header"><span class="bold-section-header">Información Financiera</span>
                <hr class="separator-id"/>
                <div class="form-row right_menu mt-3">
                    <div class="col-md-3">
                        <label for="in" class="form-label">* Ingresos Mensuales</label>
                        <input type="text" class="form-control number" id="in" name="in" value="{% if beneficiary_data.income %}{{beneficiary_data.income}}{%endif%}">
                    </div>
                    <div class="col-md-3">
                        <label for="out" class="form-label">* Egresos Mensuales</label>
                        <input type="text" class="form-control number" id="out" name="out" value="{% if beneficiary_data.egress %}{{beneficiary_data.egress}}{%endif%}">
                    </div>
                </div>
                <div class="form-row right_menu mt-3">
                    <div class="col-md-3">
                        <label for="assets" class="form-label">* Activos</label>
                        <input type="text" class="form-control number" id="assets" name="assets" value="{% if beneficiary_data.assets %}{{beneficiary_data.assets}}{%endif%}">
                    </div>
                    <div class="col-md-3">
                        <label for="passive" class="form-label">* Pasivos</label>
                        <input type="text" class="form-control number" id="passive" name="passive" value="{% if beneficiary_data.passive %}{{beneficiary_data.passive}}{%endif%}">
                    </div>
                </div> 
                <div class="form-row right_menu mt-3">
                    <div class="col-md-3">
                        <label for="source_fund" class="form-label">* Origen de los dinero a recibir</label>
                        <select id="source_fund" name="source_fund" class="form-control">
                            <option selected></option>
                            {% set sf = frappe.get_all('qp_PO_SourceFund', fields=['sf_name', 'sf_code'], order_by='sf_code asc') %}
                            {% for s in sf %}
                                <option value="{{ s.sf_code }}"  {% if s.sf_code == beneficiary_data.source_fund %} selected {% endif %}>{{ s.sf_name.upper() }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-row right_menu mt-3">
                    <div class="col-md-4">
                        <label for="type_account" class="form-label">* Favor indicar, el tipo de cuenta del banco {{beneficiary_data.bank}} terminada en {{beneficiary_data.account_number[-4:]}} es:</label>
                        <select id="type_account" name="type_account" class="form-control">
                            <option selected></option>
                            {% set act = frappe.get_all('qp_PO_AccountType', fields=['at_code', 'at_name'], order_by='at_code asc') %}
                            {% for i in act %}
                                <option value="{{ i.at_code }}"  {% if i.at_code == beneficiary_data.account_type %} selected {% endif %}>{{ i.at_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}


{% block verificacion%}
    <div id='verificacion_sect' class="right_menu">
        <div class="form-row right_menu mt-3">
            <div class="col-8">
                <div class="modal fade" id="modal-id" tabindex="-1" role="dialog" aria-labelledby="modal-finish" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modal-finish">Stonex</h5>
                            </button>
                        </div>
                        <div class="modal-body">
                            Verificación Finalizada. Muchas Gracias
                        </div>
                        <div class="modal-footer">
                            <button id="modal-buttom" type="button" class="rounded btn btn-dark btn-lg mt-5 ml-3">Aceptar</button>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe id="jumio_iframe" class="embed-responsive-item" width="70%" height="80%" src="{% if beneficiary_data.jumio_iframe %}{{beneficiary_data.jumio_iframe}}{%endif%}" allow="camera;autoplay;fullscreen;clipboard-read;clipboard-write;accelerometer;gyroscope;magnetometer" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
{% endblock %}