{% extends base_template_path %}

{% block form%}
    <div id='basic_data_sect' class="right_menu">
        <div class="row right_menu mt-3">
            <div class="col-8">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="row right_menu mt-5">
            <div class="col-4">
                <a href="#" class="btn btn-dark btn-lg mt-5" role="button" aria-pressed="true">Finalizar</a>
            </div>
        </div>
    </div>
{% endblock %}