{% extends "frappe/templates/base.html" %}

{% block style %}
    <link type="text/css" rel="stylesheet" href="/assets/portal_beneficiario/css/home/home.css">
    <link rel="stylesheet" href="/assets/portal_beneficiario/css/home/jquery-ui.css">
{% endblock %}

{% block content %}
<body id="basic_data_body"> 
    <header>
        <nav class="navbar bg-body-tertiary">
            <div class="container-fluid" id="container-logo">
                <a class="navbar-brand" href="#">
                  <img src="/assets/portal_beneficiario/img/stonex_logo.jpg" alt="Logo">
                </a>
            </div>
        </nav>
    </header>

    <!-- <div class="container"> -->
        <div class="row">
                <aside class="d-none d-md-block d-lg-block d-sm-none col-2 base left ">
                    <div class="row right_menu">
                        <div class="col mt-5 ml-5">Inscripción</div>
                    </div>
                </aside>
            {% block wizard %}
            {% endblock %}
        </div>
    <!-- </div> -->
{% endblock %}

{% block footer %}
    <footer class="bg-body-tertiary text-center">
        <div class="container">
            <section class="" id="section-footer">
                <div class="row mh-100 justify-content-center align-items-center">
                    <div class="col-lg-4">
                        <div data-mdb-ripple-initclass="bg-image hover-overlay shadow-1-strong rounded" data-ripple-color="light">
                            <img src="/assets/portal_beneficiario/img/img1.png" class="w-50 mw-75" />
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-12 mb-4 mb-md-0">
                        <div data-mdb-ripple-init class="bg-image hover-overlay shadow-1-strong rounded" data-ripple-color="light">
                            <img src="/assets/portal_beneficiario/img/img2.png" class="w-50 mw-75" />
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </footer>
{% endblock %}

{% block script %}
    <script src="/assets/portal_beneficiario/js/home/jquery-3.3.1.js"></script>
    <script src="/assets/portal_beneficiario/js/home/jquery-ui.js"></script>
    <script src="/assets/portal_beneficiario/js/home/jquery.validate.js"></script>
    <script src="/assets/portal_beneficiario/js/home/additional-methods.js"></script>
    <script src="/assets/portal_beneficiario/js/home/index.js"></script>
{% endblock %}